/* Mobile Devices */
@media screen and (max-width: 600px) {
  .container {
    width: 98%;
  }
  .menu {
    display: none;
  }
  .humburger {
    display: block;
    /* margin-right: 0; */
  }
  .logo > h3 {
    /* font-size: 1.25rem; */
  }
  .logo img {
    margin-right: 5px;
    width: 30px;
  }
  .banner h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .banner br {
    display: none;
  }
  .plan {
    display: flex;
    flex-direction: column;
  }

  .plan a {
    margin-bottom: 10px;
  }
  /* Article  */
  .article-container {
    flex-direction: column;
  }
  .article-content,
  .article-image {
    width: 100%;
  }
  /* place  */
  .place-row {
    flex-direction: column;
  }
  /* feature */
  .feature-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-items:nth-child(3) {
    grid-column: auto;
  }
  /* deals Content */
  .deals-content {
    margin: 150px 30px 30px 30px;
  }
  /* Newsletter */
  .newsletter-container {
    gap: 0;
    flex-direction: column;
  }
  .newsletter-content {
    margin-bottom: 30px;
  }
  .discount {
    bottom: 16%;
    right: 4%;
  }
  .partner-container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .partner-container img {
    width: 50%;
  }
  .footer p {
    margin: 20px 0;
    text-align: justify;
  }
}

/* Tablet Devices */
@media screen and (min-width: 600px) and (max-width: 992px) {
  .container {
    width: 98%;
  }
  .menu {
    display: none;
  }
  .humburger {
    display: block;
    /* margin-right: 0; */
  }
  .banner h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .banner br {
    display: none;
  }
  .plan {
    display: flex;
    flex-direction: column;
  }

  .plan a {
    margin-bottom: 10px;
  }
  /* Article  */
  .article-container {
    flex-direction: column;
  }
  .article-content,
  .article-image {
    width: 100%;
  }
  /* place  */
  .place-row {
    flex-direction: column;
  }
  /* feature */
  .feature-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-items:nth-child(3) {
    grid-column: auto;
  }
  /* deals Content */
  .deals-content {
    margin: 30px;
  }
  /* Newsletter */
  .newsletter-container {
    gap: 0;
    flex-direction: column;
  }
  .newsletter-content {
    margin-bottom: 30px;
  }
  .discount {
    bottom: 16%;
    right: 4%;
  }
}
