/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Typography */
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.img-fluid {
  width: 100%;
}
.section-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.section-content {
  color: #131318b3;
  font-size: 1rem;
  line-height: 26px;
}
.section-btn {
  color: #fff;
  background-color: #ff5400;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 800;
  border: none;
}
.text-center {
  text-align: center;
}
/* Header */
header {
  padding: 0 0 50px 0;
}
/* Nav */
nav {
  padding-top: 20px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  margin-right: 10px;
}

.logo > h3 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.logo > h3 span {
  color: #ff5400;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  margin-right: 20px;
  text-decoration: none;
  color: #424247;
  font-size: 1.25rem;
  transition: 0.2s ease-in;
}
.active {
  color: #ff5400;
}
nav ul li a:hover {
  color: #ff5400;
}

.humburger {
  display: none;
}

/* banner */
.banner {
  background-image: url(../Images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.banner h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 10px;
  z-index: 1;
}
.banner p {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  line-height: 26px; /* 162.5% */
  margin-bottom: 40px;
  z-index: 1;
}
.find-place {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.find-place > div {
  text-decoration: none;
  color: #131318;
  /* background-color: #fff; */
  padding: 10px 30px 10px 10px;
}
.find-place a {
  text-decoration: none;
  color: #131318;
  background-color: #fff;
  padding: 10px 30px 10px 10px;
}
.plan {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 25px 8px;
}
.plan a {
  text-decoration: none;
  background-color: #fff;
  padding: 10px 70px 10px 10px;
  margin: 0 10px;
  border-radius: 5px;
  color: #13131880;
  font-size: 1rem;
}
.plan-item {
  position: relative;
}
.plan-item > i {
  position: absolute;
  right: 0;
  top: 14px;
  margin-right: 10px;
}
.plan-search {
  background: #ff5400 !important;
  color: white !important;
}
/* Article */
article {
  padding: 80px 0;
}
.article-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.article-content {
  width: 50%;
}
.article-img {
  width: 50%;
}
.article-content p,
li {
  color: #131318b3;
  font-size: 1rem;
  line-height: 26px; /* 162.5% */
}
.article-content p,
li {
  margin: 10px 0;
}
.article-content ul {
  margin-left: 20px;
}

/* place */
.place {
  padding-bottom: 80px;
}
.place h3 {
  margin-bottom: 20px;
}
.place p {
  color: #131318b3;
  font-size: 1rem;
  line-height: 26px; /* 162.5% */
  margin-bottom: 40px;
}
.place-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.place-row div {
  position: relative;
  text-align: center;
  color: white;
}
.place-row img {
  filter: brightness(70%);
}
.place-row div > h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

/* feature */
.feature-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 40px;
  padding-bottom: 80px;
}
.feature-items {
  padding: 25px;
  border-radius: 8px;
}
.feature-items img {
  margin-bottom: 10px;
}
.feature-items h5 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.feature-items p {
  color: #5a5a5d;
  font-size: 1rem;
  line-height: 26px; /* 162.5% */
}
.feature-item-1 {
  background-color: #fbb56333;
}
.feature-item-2 {
  background-color: #29cef633;
}
.feature-item-3 {
  background-color: #e9444433;
}
.feature-item-4 {
  background-color: #ffd5c0;
}

/* Deals Items */
.deal-items {
  position: relative;
}
.deal-items img {
  filter: brightness(70%);
}
.deals-content {
  top: 10%;
  right: 0;
  position: absolute;
  width: 50%;
  background-color: white;
  padding: 30px 20px 30px 30px;
  z-index: 1;
  border-radius: 8px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.deals-schedule span {
  color: #5a5a5d;
  font-size: 1rem;
  padding: 0 15px 0 0;
}
.deals-schedule span > i {
  color: #ff5400;
}
.deals-content h5 {
  color: #131318;
  font-size: 1rem;
  font-weight: 800;
  margin: 10px 0;
}

.deals-content p {
  color: #5a5a5d;
  font-size: 1rem;
  line-height: 26px; /* 162.5% */
  margin: 10px 0;
}
.deals-content h6 {
  color: #ff5400;
  font-size: 1.25rem;
  font-weight: 800;
  margin: 10px 0;
}
